accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
appnope
asttokens
attrs
beartype
better-abc
certifi
charset-normalizer
click
comm
contourpy
cycler
datasets
debugpy
decorator
dill
docker-pycreds
einops
et_xmlfile
executing
fancy-einsum
filelock
fonttools
frozenlist
fsspec
gitdb
GitPython
huggingface-hub
idna
ipykernel
ipython
jaxtyping
jedi
Jinja2
joblib
jupyter_client
jupyter_core
kiwisolver
llvmlite
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mpmath
multidict
multiprocess
nest-asyncio
networkx
numba
numpy
openpyxl
packaging
pandas
parso
pexpect
pillow
platformdirs
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyaml
pyarrow
pydantic
pydantic_core
Pygments
pynndescent
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
regex
requests
rich
safetensors
scikit-learn
scipy
seaborn
sentencepiece
sentry-sdk
setproctitle
setuptools
six
smmap
stack-data
sympy
threadpoolctl
tiktoken
tokenizers
torch
tornado
tqdm
traitlets
transformer-lens
transformers
transformers-stream-generator
typeguard
typing_extensions
tzdata
umap-learn
urllib3
wandb
wcwidth
xxhash
yarl
